<div class="row">
    <!-- ==================================-->
    <!-- ======= Basic Nav ===== -->
    <!-- ==================================-->
    <div class="col-12">
        <div class="card">
            <div class="p-3">
                <h1 class="card-title mb-0">¡Bienvenidos!</h1>
            </div>
            <div class="card-body border-top">
                <img class="img-fluid rounded mx-auto d-block" alt="user" src="assets/images/imagenLanding3.jpg"
                    alt="img">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="timeline timeline-left list-unstyled position-relative">
                    <li class="timeline-inverted timeline-item position-relative mb-4">
                        <div class="timeline-badge text-center text-white overflow-hidden rounded-circle bg-warning">
                            <i class="fas fa-map-signs"></i>
                        </div>
                        <div class="timeline-panel position-relative border rounded p-4">
                            <div class="timeline-body">
                                <p class="mb-0">
                                    <img class="img-fluid rounded mx-auto d-block" alt="user"
                                        src="assets/images/users/img-mision.jpg" alt="img">
                                </p>
                                <br>
                                <p class="mb-0" style="text-align: justify;">Facilitar la prosperidad y el crecimiento sostenible en la
                                    comunidad
                                    agrícola al proporcionar una plataforma en línea innovadora y confiable
                                    que conecta a agricultores y compradores, promoviendo así la eficiencia,
                                    la transparencia y la equidad en el mercado de productos agrícolas.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item position-relative mb-4">
                        <div class="timeline-badge text-center text-white overflow-hidden rounded-circle bg-warning">
                            <i class="fas fa-eye"></i>
                        </div>
                        <div class="timeline-panel position-relative border rounded p-4">
                            <div class="timeline-body">
                                <p class="mb-0">
                                    <img class="img-fluid rounded mx-auto d-block" alt="user"
                                        src="assets/images/users/img-vision.jpg" alt="img">
                                </p>
                                <br>
                                <p class="mb-0" style="text-align: justify;">Ser la principal plataforma en línea en el sector agrícola,
                                    reconocida por su compromiso con la mejora continua, la creación de
                                    oportunidades económicas para los agricultores de todo el mundo,
                                    respaldados
                                    por una comunidad próspera y una tecnología innovadora.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item position-relative mb-4">
                        <div class="timeline-badge text-center text-white overflow-hidden rounded-circle bg-warning">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-panel position-relative border rounded p-4">
                            <div class="timeline-heading">
                                <h1 class="timeline-title mt-0 fw-normal">Acerca de Nosotros</h1>
                            </div>
                            <div class="timeline-body">
                                <p class="mb-0">
                                    <img class="img-fluid rounded mx-auto d-block" alt="user"
                                        src="assets/images/users/sobre-nosotros.jpg" alt="img">
                                </p>
                                <p class="mb-0" style="text-align: justify;">Bienvenido a Agrogram, una plataforma de agricultura en
                                    línea fundada por
                                    dos apasionados estudiantes universitarios con un profundo amor por la
                                    tecnología.
                                    En un mundo donde la agricultura es esencial pero a menudo subestimada,
                                    decidimos
                                    unir nuestras habilidades y conocimientos para crear Agrogram, una
                                    solución innovadora
                                    que conecta a agricultores, productores y amantes de la agricultura.</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>