<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start">
    <li class="nav-item d-none d-lg-block">
      <a
        (click)="toggleSidebar.emit()"
        class="nav-link sidebartoggler waves-effect waves-light"
        href="javascript:void(0)"
      >
        <i class="ti-menu"></i>
      </a>
    </li>
  </ul>
  
  <!-- Navbar Header for horizontal only -->
  <div class="navbar-header d-none d-lg-block">
    <!-- This is for the sidebar toggle which is visible on mobile only -->
    <a
      (click)="showMobileMenu = !showMobileMenu"
      class="nav-toggler waves-effect waves-light d-block d-lg-none"
      href="javascript:void(0)"
    >
      <i [ngClass]="showMobileMenu ? 'ti-close' : 'ti-menu'"></i>
    </a>
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <a class="navbar-brand" [routerLink]="['/']">
      <!-- Logo icon -->
      <b class="logo-icon">
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <img src="assets/images/faviconagrogram2redondo.png" alt="homepage" class="dark-logo" />
        <!-- Light Logo icon -->
        <img
          src="assets/images/faviconagrogram2redondo.png"
          alt="homepage"
          class="light-logo"
        />
      </b>
      <!--End Logo icon -->
      <!-- Logo text -->
      <span class="logo-text">
        <!-- dark Logo text -->
        <h2 class="dark-logo p-3" style="font-family: Impact; color: rgb(14, 124, 88); font-size: xx-large;">Agrogram</h2>
        <!-- Light Logo text -->
        <h2 class="light-logo" style="font-family: Impact; color: rgb(14, 124, 88); font-size: xx-large;">Agrogram</h2>
      </span>
    </a>
    <a
      class="topbartoggler d-block d-lg-none waves-effect waves-light"
      href="javascript:void(0)"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
    >
      <i class="ti-more"></i>
    </a>
  </div>
  <div *ngIf="!authService.isAuthenticated()" class="bottom-group float-end">
    <button type="button" [routerLink]="['/auth/register']" class="btn btn-warning m-2"> <i class="fas fa-id-badge me-1"></i> Registrarme</button>
    <button type="button" [routerLink]="['/auth/login']" class="btn btn-success"> <i class="fas fa-key me-1"></i> Ingresar</button>
  </div>
  <ul *ngIf="authService.isAuthenticated()" class="navbar-nav float-end">
    <li class="nav-item">
      <button type="button" [routerLink]="['/productos/form-producto']" class="btn btn-warning m-2"> <i class="fas fa-cubes me-1"></i> Agregar productos</button>
    </li>
    <li class="nav-item" ngbDropdown placement="bottom-end">
      <a
        ngbDropdownToggle
        class="nav-link text-muted waves-effect waves-dark pro-pic"
        href="javascript:void(0)"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          src="{{url}}{{authService.usuario.imagen}}"
          alt="{{authService.usuario.imagen}}"
          class="rounded-circle"
          width="31"
        />
        <img *ngIf="!authService.usuario?.imagen"
          src="{{noImagen}}"
          alt="Sin foto"
          class="rounded-circle"
          width="31"
        />
      </a>
      <div class="dropdown-menu-right user-dd" ngbDropdownMenu>
        <div class="d-flex no-block align-items-center p-3 mb-2">
          <div class="">
            <img *ngIf="authService.usuario?.imagen"
              src="{{url}}{{authService.usuario.imagen}}"
              alt="{{authService.usuario.imagen}}"
              class="rounded"
              width="70"
            />
            <img *ngIf="!authService.usuario?.imagen"
                src="{{noImagen}}"
                alt="Sin foto"
                class="rounded"
                width="70"
              />
          </div>
          <div class="ms-2">
            <h4 class="mb-0 fs-4">{{authService.usuario.nombreUsuario}}</h4>
            <p class="text-muted mb-0 fs-2">{{authService.usuario.username}}</p>
          </div>
        </div>
        <a class="dropdown-item" [routerLink]="['/usuarios/detalle-perfil', authService.usuario.idUsuario]" *ngIf="authService.isAuthenticated()">
          <i class="ti-user me-1 ms-1"></i> Ver mi perfil</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()" *ngIf="authService.isAuthenticated()">
          <i class="fa fa-power-off me-1 ms-1"></i> Salir</a
        >
      </div>
    </li>
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
  </ul>
  
