<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background: url(assets/images/fondoagro.jpg);">
    <div class="auth-box on-sidebar m-3 m-md-0" style="background-color: rgba(231, 240, 240, 0.705);">
        <div>
            <div class="text-center">
                <span class="db"><img class="img-thumbnail mb-3" src="assets/images/agrologo.png" alt="logo" /></span>
                <h5 class="font-medium mb-4">AGROGRAM</h5>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/auth/register']">Productor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/auth/register-cliente']">Comprador</a>
                </li>
            </ul>
            <!-- Form -->
            <ng-scrollbar class="position-relative" style="height: 350px;">
                <div class="row">
                    <div class="col-12">
                        <form class="form-horizontal mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="mb-3 row ">
                                <div class="col-12 ">
                                    <input class="form-control" type="text" formControlName="nombreUsuario"
                                        [(ngModel)]="usuario.nombreUsuario"
                                        [ngClass]="{ 'is-invalid': submitted && f['nombreUsuario'].errors }"
                                        name="nombre" placeholder="Nombre completo">
                                    <div *ngIf="submitted && f['nombreUsuario'].errors" class="invalid-feedback">
                                        <div *ngIf="f['nombreUsuario'].errors['required']">
                                            {{mensaje}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row ">
                                <div class="col-12 ">
                                    <input class="form-control" type="text" formControlName="username"
                                        [(ngModel)]="usuario.username"
                                        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" name="username"
                                        placeholder="Nombre de usuario">
                                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                        <div *ngIf="f['username'].errors['required']">
                                            {{mensaje}}
                                        </div>
                                        <div *ngIf="f['username'].errors['minlength']">
                                            {{mensajeUsernameMin}}
                                        </div>
                                        <div *ngIf="f['username'].errors['maxlength']">
                                            {{mensajeUsernameMax}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-12 ">
                                    <input class="form-control" type="password" name="contrasena"
                                        formControlName="contrasena"
                                        [ngClass]="{ 'is-invalid': submitted && f['contrasena'].errors }"
                                        [(ngModel)]="usuario.contrasena" placeholder="Contraseña">
                                    <div *ngIf="submitted && f['contrasena'].errors" class="invalid-feedback">
                                        <div *ngIf="f['contrasena'].errors['required']">
                                            {{mensaje}}
                                        </div>
                                        <div *ngIf="f['contrasena'].errors['minlength']">
                                            {{mensajeContrasenaMin}}
                                        </div>
                                        <div *ngIf="f['contrasena'].errors['maxlength']">
                                            {{mensajeContrasenaMax}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 text-center ">
                                <div class="col-xs-12 mb-4">
                                    <button type="submit" class="btn d-block w-100 btn-lg btn-info"
                                        (click)="validacionesUsuario()">Registrarme</button>
                                </div>
                            </div>
                            <div class="mb-3 mb-0 mt-2 ">
                                <div class="col-sm-12 text-center ">
                                    ¿Ya estas registrado? <a [routerLink]="['/auth/login']"
                                        class="text-info ms-1 "><b>Ingresar</b></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-scrollbar>
        </div>
    </div>
</div>
<notifier-container></notifier-container>